* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

input{
    width: 250px;
    height: 44px;
    margin-top: 5px;
    border:1px solid rgba(216,216,216,1);
    border-radius:8px;
    padding-left : 20px;
}

a {
    text-decoration: none;
    color: black;
  }

form{
    height: 320px;
    width : 300px;
    padding: 20px 20px;
    border: 1px solid rgba(71,71,71,.398);
    border-radius: 8px;
}

button {
    position: relative;
    width: 250px;
    height: 50px;
    padding: 0px 47px;
    margin-top:5px;
    background-color: #38B6FF;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(216,216,216,1);
    color: white;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 500;
    border-radius: 8;
  }

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-font{
    position: relative;
    font-size:30px;
    font-weight: bold;
    color:#38B6FF;
    text-align: center;
}

#findaccount a{
  text-decoration: none;
  color: #707070;
  font-family: 'Noto Sans CJK KR', sans-serif;
  opacity: 0.8;
  font-weight: 400
}

#findaccount{
  margin-left: 20px;
  margin-top: 10px;
  top: 130px;
  font-size: 18px;
}

#joinus {
  font-size: 18px;
  margin-left: 290px;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 450;
  opacity: 0.8;
}

#joinus > a {
  color: #707070;
}