* {
  box-sizing: border-box;
}
.map-container {
  display: block;
  position: sticky;
  top: 0;
  width: 60vw;
  height: 100vh;
  background-color: aliceblue;
}
.content {
  display: none;
  position: relative;
  /* display: grid; */
  grid-template-columns: 60vw 38vw;
  justify-content: center;
}
.title {
  font-size: 1.2rem;
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.controller {
  display: flex;
  justify-content: space-between;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nav-link {
  color: rgba(0,0,0,0.7);
  font-weight:600;
  font: bold;
  font-size: 0.8rem;
  

}
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 100px;
}
.boards-container{
	margin-top:2rem;
	display: grid;
	gap:1rem;
	grid-template-columns: 30vw 30vw 30vw;
    justify-content: center;

	
}
@media screen and (max-width: 1600px) {
    .boards-container{
	grid-template-columns: 40vw 40vw;
    }
}
    @media screen and (max-width: 1250px) {
    .boards-container{
	grid-template-columns: 70vw;
    }
}

